<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
            <!--/*@thymesVar id="viewModel" type="com.example.controlleradvice.viewmodel.IndexViewModel"*/-->
<div class="container">
    <header class="page-header">
        <h1 class="text-center">
            User Dashboard
            <a href="/" class="btn btn-success pull-right">Home</a>
        </h1>

    </header>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h3 th:if="${viewModel.getErrorMessage()}" th:text="${viewModel.getErrorMessage()}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="text-center">Index</h2>
            <div th:each="location : ${viewModel.getLocations()}">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"  th:text="${location.getName()}"></h3>
                        </div>
                        <div class="panel-body">
                            <p th:text="${location.getLocation()}"></p>
                            <a th:href="@{/show(location=${location.getId()})}" class="btn btn-default btn-xs">show only with id</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>