<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <header class="page-header">
        <h1 class="text-center">
            User Dashboard
        </h1>
    </header>
    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <h2 class="text-center">Login</h2>
            <form th:action="@{/login}" th:method="post">
                <div class="form-group" th:classappend="${param.error} ? 'has-error'">
                    <label class="control-label" for="username">Username:</label>
                    <input type="text" name="username" class="form-control"
                           autofocus="autofocus" id="username"/>
                </div>
                <div class="form-group" th:classappend="${param.error} ? 'has-error'">
                    <label class="control-label" for="password">Password:</label>
                    <input type="password" name="password" id="password"
                           class="form-control"/>
                </div>
                <p th:if="${param.error}" class="text-danger">
                    Invalid username and password.
                </p>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>